@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(planes.css);
/* FUENTES  */

/* 
font-family: "Poppins", serif;
  font-weight: 100;200;300
  font-style: normal;

*/

/* GENERAL */
html, body {
    overflow-x: hidden; /* Oculta el scroll horizontal */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
   width: 100%;
   height: 100%;
 }
main{
    margin-top: 10vh;
}

ul, li {
    list-style: none ;
}
 /* HEADER */



/* BANNER */

.banner__header img {
    width: 100%;
    height: 32vh;
}
.button__wsp i {
    position: fixed; /* Permite que el botón permanezca fijo en la pantalla */
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 20px; /* Ajusta la distancia desde el borde inferior */
    right: 8vw; /* Ajusta la distancia desde el borde derecho */
    background: #0df053;
    color: #fff;
    border-radius: 50%; /* Hace que el botón sea completamente circular */
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100; /* Asegura que el botón quede por encima de otros elementos */
}
.fa-brands:hover {
    text-decoration: none;
    color: #0df053;
    background: #fff;
    transition: all 0.3s ease; /* Añade una transición suave al hover */
}


/* SECTION INDEX PRINCIPIO */
.img__prestadores{
    width: 85vw;
    z-index: -10;
}
.article__salud {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vh;

}
.container__salud {
     width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 0;
}
.container__salud h2 {
    font-family: "Poppins", serif;
  font-weight: 300;
  text-align: center;
  font-size: 7vw;
}
.button__accion {
    border: none;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 5vw;
    background-color: #00ff04;
    border-radius: 50px;
    margin-bottom: 1vh;
}
.button__accion a {
    text-decoration: none;
    color: #000000;
    padding: 3vw;
}


/*  SECTION INFO  */

.section__index {
padding-top: 2vw;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.section__index h2{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 5vw;
    padding-top: 4vh;
}

.section__article1 img {
    width: 60%;
    height: 40vh;
    border-radius: 0px 20px 20px 0px;


}

.section__article2 img {
    width: 60%;
    height: 40vh;
    border-radius: 20px 0px 0px 20px;
   
}

.section__article3 img {
    width: 60%;
    height: 40vh;
    border-radius: 0px 20px 20px 0px;
    
}

.section__article4 img {
    width: 60%;
    height: 40vh;
    border-radius: 20px 0px 0px 20px;
   
 
 
}

.section__article1 p {
    text-align: center;
    padding: 2vh 2vh;
}
.section__article2 p {
    text-align: center;
    padding: 2vh 2vh;
}
.section__article3 p {
    text-align: center;
    padding: 2vh 2vh;
}
.section__article4 p {
    text-align: center;
    padding: 2vh 2vh;
}

.section__article1,
.section__article2,
.section__article3,
.section__article4 {
    display: flex;

    padding: 2vh 0;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.8s ease, transform 0.8s ease;
}


.section__article2,
.section__article4 {
    transform: translateX(100%); /* Para las imágenes pares */
}

.section__article1.visible,
.section__article3.visible {
    opacity: 1;
    transform: translateX(0); /* Animación de entrada desde la izquierda */
}

.section__article2.visible,
.section__article4.visible {
  opacity: 1;
  transform: translateX(0); /* Aparecen desde la derecha */
}

/* FOOTER */

footer img {
    max-width: 100px;
    height: auto;
}

footer a {
    text-decoration: none;
    transition: color 0.3s ease;
    
}

footer a:hover {
    color: #0df053; /* Cambia este color según tu diseño */
}
